
.item-slot {
    position: relative;
    background-image: url("../../../../public/img/ui/itemslot.png");
    background-size: 48px;
    width: 48px;
    height: 48px;
}
.item-slot img {
    position: absolute;
    width: 96px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.item-amount {
    position: absolute;
    right: 0;
    bottom: 0;
}
.event-trigger {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    /*Zur visualisierung einkommentieren */
    /*background: #f004;*/
}
