.loot-table-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.loot-table-container h2 {
    margin: 0;
}
.loot-table-container .image-container {
    width: 71px;
    height: 71px;
    max-width: 71px;
    max-height: 71px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loot-table-container .image-container img {
    width: 100%;
    max-width: 60px;
}
.loot-table-container .flex-gap-4 {
    display: flex;
    gap: 4px;
}
.loot-table-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: min-content;
    gap: 1px;
}