
.item-slot {
    position: relative;
    background-image: url("../../../public/img/ui/itemslot.png");
    background-size: 48px;
    width: 48px;
    height: 48px;
}
.item-slot img {
    position: absolute;
    width: 96px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}