.compendium-menu {
    position: relative;
    width: calc(100% - 40px);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrapper {
    display: flex;
    gap: 20px;
}

.logo {
    position: absolute;
    width: 32px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 720px) {
    .compendium-menu {
        justify-content: space-around;
    }
    .menu-wrapper {
        flex-direction: column;
        gap: 8px;
        margin-top: 50px;
    }
    .compendium-menu a:nth-child(1), .compendium-menu div:nth-child(3) {
        position: absolute;
        top: 10px;
    }
    .compendium-menu a:nth-child(1) {
        left: 0;
    }
    .compendium-menu div:nth-child(3) {
        right: 10px;
    }
    .logo {
        transform: unset;
    }
}