.rogue-button {
    position: relative;
    width: 235px;
    background-image: url("../../../../public/img/ui/button.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.button-text {
    position: absolute;
    font-size: 1.4em;
}