.rogue-button {
    position: relative;
    width: 235px;
    background-image: url("../../../../public/img/ui/button.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.button-text {
    position: absolute;
    font-size: 1.4em;
}
.rogue-button:hover .button-text {
    animation: text-pulse 0.2s;
}

@media (max-width: 720px) {
    .button-text {
        font-size: 1em;
    }
    .rogue-button {
        width: 194px;
        height: 30px;
    }
}
