/* https://www.1001fonts.com/motion-control-font.html */
@font-face {
  font-family: "Motion Control";
  src: url("/public/font/MotionControl-Bold.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Motion Control";
  src: url("/public/font/MotionControl-BoldItalic.otf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


body {
  margin: 0;
  font-family: "Motion Control", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../public/img/ui/backTile.png");
  background-size: 128px;
  image-rendering: crisp-edges;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, span, h1, h2, h3, h4, h5, h6, div > * {
  color: #fff;
  font-weight: 400;
}
svg * {
  fill: #fff;
}

img {
  image-rendering: pixelated;
}

.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  position: relative;
  padding: 50px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.disable-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@keyframes text-pulse {
  0%   {transform: scale(1)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}
