.standard-textfield {
    color: #fff;
    background-color: #0F0F0F;
    border-radius: 0;
}
.standard-textfield input {
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
}
.standard-textfield fieldset {
    border-radius: 0;
    border-width: 3px !important;
    border-color: #606060 !important;
}
.standard-textfield label {
    color: #ccc !important;
    font-size: 1.2em;
    transform: translate(14px, 10px) scale(1);
}
.standard-textfield label[data-shrink="true"] {
    font-size: 1em;
    transform: translate(14px, -9px) scale(0.75);
}
